.nav-button {
  background: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  padding: 4px 10px;
  position: relative;
  font-weight: 350;
  transition: color 0.5s ease;
}

.nav-button:hover,
.nav-button:focus {
  background: transparent;
  color: rgba(255, 255, 255, 0.8);
}

/* Slightly stronger appearance without resizing text */
.nav-button:hover {
  text-shadow: 0 0 0.01px currentColor;
}

/* Underline animation */
.nav-button::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0px;
  width: 0%;
  height: 1.5px;
  background-color: currentColor;
  transition: width 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translateX(-50%);
}

.nav-button:hover::after {
  width: 80%;
}